@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin: 95px 120px 80px 120px;
    align-items: center;
}

.main-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;

}
.ul li,a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-right: 10px;
    font-weight: 600;
    padding: 3px;
    border-radius: 1px;
   

}
.ul{
    display: flex;
    margin-left: 20px;
       
}
.ul a:hover{
    border-bottom: 2px solid black ;
}


 /* -----------------second-section------------- */
.frist-article{
    display: flex;
    justify-content: space-between;
    margin: 95px 120px 80px 120px;
    align-items: center;
    
}
.details-text{
    width: 100%;
}
.frist-button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    border: 0;
    background-color: #E02C6D;
    color: whitesmoke;
    padding: 10px, 24px, 10px, 24px;
    font-weight: 700;
    font-size: 16px;
}
h1{
    font-size: 52px;
    width: 700;
}

.bg-img-circl{
    width: 440px;
    margin: 0px 0px 00px 100px;
}
.main-img{
    width: 440px;
    position: absolute;
    right: 200px;
}

p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;

}


/*------------------ Logo Section -------------- */

.logos{
    display: flex;
    justify-content: space-evenly;
    margin: 100px  100px;
    padding: 30px 0 30px 0;
    align-items: center;
    border-bottom: 2px solid rgba(192, 204, 218, 0.3);
    border-top: 2px solid  rgba(192, 204, 218, 0.3);
}


/*--------------------- Collections of Products----------- */


.product-collection{
    margin: 50px 205px 0px 205px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
    
}
.for-border .single-product img{
    width: 300px;
    height: 256px;
    margin: 10px;
}
.for-border .details{
    margin: 10px;

}
.for-border .details p{
    margin: 0px;
}
.title-price h2{
    margin: 0px;

}
.title-price h3{
    margin-top: 6px;
    margin-bottom: 0;

}
.for-border{
    box-shadow: 0px 0px 20px #d7d5df96;
    width: 329px;
    height: 476px;
}
.fa-star,.fa-star-half-alt{
    color: gold;
}
h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: auto;
    color: #3A3A3A;

}
h3{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
}
.rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #5E6366;
}
.product-details{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    color: #787885;
    width: 300px;
    overflow: hidden;

}

.second-heading{
    text-align: center;
    margin: 10px;
}

.single-product{
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 10px 50px 10px rgba(197, 195, 195, 0.527);    */
}


.second{
    border-radius: 0;
}
/* last sections  */
.last-bonus{
    margin: 100px 128px 78px 122px;
    display: flex;
    justify-content: space-evenly
    
}
.last-bonus .l-img{
    width: 404px;
    height: 270px;
    margin:0 48px 0 0;
}
.last-bonus .l-img-details{
    width: 610px;
    height: 224px;
    margin:0  0 0 48px;
}
.h1-lb{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;

}
.see-more{
    color: #E02C6D;
    background-color: #FFFFFF;
    margin: 20px 0 0 80%;
}


.footer{
    margin: -10px -10px -10px -10px;
    padding: 0;
  
    bottom: 0;
    left: 0;
    right: -10px;
    
    width: 110%;
    height: 239px;
    background: #0A0826;
    text-align: center;
}

.footer-container{
    padding-top: 40px;
    margin: 0px 589px 28px 589px;
} 
.footer-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  
}
.footerP{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;    
}
.a-footer-{
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    color: whitesmoke; 
  
    
}

.a-footer-:hover{
    font-size: 2.5em;
    overflow: hidden; 
}

/*------------------------||
||------------------------||
||                        ||
||      Media Quries      ||
||                        ||
||------------------------||
||------------------------*/
label #btn,
label #cancle{
    font-size: 30px;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
        display: none;
    }

/* Mobile Devices */
@media only screen and (max-width:688px){
    .main-title{
        text-align: center;
        font-size: medium;
        
    }
    .ul{
        display: none;
    }
    label #btn{
        display: block;
    }
    .ul{
        position: fixed;
        width: 30%;
        height: 50vh;
        background: #dedeecb9;
        top: 80%;
        right: 0;
        text-align: center;
    }
}