@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin:110px 120px 0px 120px;
    align-items: center;
}

.main-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;
}
.ul li,a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-right: 10px;
    font-weight: 600;
    padding: 3px;
    border-radius: 1px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;

   

}
.ul{
    display: flex;
    margin-left: 20px;
       
}
.ul a:hover{
    border-bottom: 2px solid black ;
}


 /* -----------------second-section------------- */
.frist-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.details-text{
    width: 100%;
}
.frist-button{
    width: 196px;
    height: 44px;
    border-radius: 20px;
    border: 0;
    background-color: #E02C6D;
    color: whitesmoke;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}
h1{
    font-size: 52px;
    width: 700;
}

.bg-img-circl{
    width: 440px;
    margin: 0px 0px 00px 100px;
}
@keyframes moving {
    0% {
        right: 150px;
        top: 150px;
    }
    20% {
        transform: scale(.5);
        top: -150px;
        right: -150px;
    }

    40% {
        transform: scale(.5);
        top: -100px;
        right: 1600px;
       
    }

    60% {
        transform: rotate(90);
        top: 500px;
        right: 1600px;
    }

    80% {
        transform: scale(.5);
        top: 550px;
        right: -150px;
    }
    100% {
        right: 150px;
        top: 150px;
        }
    
}
.main-img{
    width: 440px;
    position: absolute;
    right: 200px;
    animation: moving 10s ease-in-out infinite;
}


p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;

}


/*------------------ Logo Section -------------- */

.logos{
    display: flex;
    justify-content: space-evenly;
    margin: 100px  100px;
    padding: 30px 0 30px 0;
    align-items: center;
    border-bottom: 2px solid rgba(192, 204, 218, 0.3);
    border-top: 2px solid  rgba(192, 204, 218, 0.3);
}


/*--------------------- Collections of Products----------- */


.product-collection{
    margin: 50px 205px 0px 205px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
    
}
.for-border .single-product img{
    width: 300px;
    height: 256px;
    margin: 10px;
}
.for-border .details{
    margin: 10px;

}
.for-border .details p{
    margin: 0px;
}
.title-price h2{
    margin: 0px;

}
.title-price h3{
    margin-top: 6px;
    margin-bottom: 0;

}
.for-border{
    box-shadow: 0px 0px 20px #d7d5df96;
    width: 329px;
    height: 476px;
}
.fa-star,.fa-star-half-alt{
    color: gold;
}
h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: auto;
    color: #3A3A3A;

}
h3{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
}
.rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #5E6366;
}
.product-details{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    color: #787885;
    width: 300px;
    overflow: hidden;

}

.second-heading{
    text-align: center;
    margin: 10px;
}

.single-product{
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 10px 50px 10px rgba(197, 195, 195, 0.527);    */
}


.second{
    border-radius: 0;
}
/* last sections  */
.last-bonus{
    margin: 100px 128px 198px 122px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.last-bonus .l-img{
    width: 360px;
    height: 111px;
    margin: 0 48px 0 0;
}
.last-bonus .l-img-details{
    width: 610px;
    height: 224px;
    
}
.h1-lb{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;

}
.see-more{
    color: #E02C6D;
    background-color: #FFFFFF;
    margin: 20px 0 0 80%;
}


.footer{
    margin: -10px -10px -10px -10px;
    padding: 0;
  
    bottom: 0;
    left: 0;
    right: -10px;
    
    width: 110%;
    height: 239px;
    background: #0A0826;
    text-align: center;
}

.footer-container{
    padding-top: 40px;
    margin: 0px 589px 28px 589px;
} 
.footer-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    overflow: hidden;
  
}
.footerP{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;    
}
.a-footer-{
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    color: whitesmoke; 
  
    
}

.a-footer-:hover{
    font-size: 2.5em;
    overflow: hidden; 
}

/*------------------------||
||------------------------||
||                        ||
||      Media Quries      ||
||                        ||
||------------------------||
||------------------------*/
label #btn,
label #cancle{
    font-size: 30px;
    position:absolute;
    left: 30px;
    top:95px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
    }

/* Mobile Devices */
@media only screen and (max-width:688px){
    .main-section{
        width: 100%;
    }
    .heading{
        margin-bottom: 20px;
    }
    .main-title{
        position:absolute;
        font-size: 24px;
        text-align: center;
        font-size: medium;
        font-weight: 900;
        
    }
    label #btn{
        display: block;
        position:absolute;
        left: 30px;
        top:95px;
    }
    .ul li,a{
        text-decoration: none;
        list-style: none;
        color: black;
        margin: 0 0 10px 0;
        font-weight: 600;
        border-radius: 1px;
        }
    .ul{
        
        flex-direction: column;
        position: absolute;
        padding-bottom: 10px;
        margin-left: 0;
        width: 20%;
        border-radius: 5px;
        height: 40vh;
        background: rgb(247, 235, 247);
        top: 140px;
        left: -100%;
        margin: 10px 0px 0px 0;
        text-align: left;
        transition: all .5s;
    }
    #check:checked ~ .ul{
        left: 0px;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancle{
        display: block;
    }

    .cart{
       
        width: 50px;
        height: 50px;
        position:absolute;
        left: 300px;
        top: 905px;
    }


    /* --------- Frist Section-------
    ------------------------------ */

    body {
        width: 100%;
        /* margin: 10px 10px 0px 10px;  */
        margin-left: 50px;
    }
    .frist-article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 70px 50px 0px 0px;
        align-items: center;
    }
    .bg-img-circl{
        width: 202px;
        height: 190px;
        margin-right: 190px;
    }
    .main-img{
        width: 192px;
        height: 180px;
        padding-bottom: 10px;
       
    }
    .frist-article :nth-child(1) { order: 2; }
    .frist-article :nth-child(2) { order: 1; }
    .details-text{
        width: 100%;
    }
    h1{
        font-size: 28px;
        width: 700;
        text-align: center;
}
    p{
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    font-feature-settings: 'liga' off;
    width: 340px;

    color: #3A3A3A; 

    }
    .frist-button{
       margin-left: 90px;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
    }
    .a-logos{
        justify-content: center;
        width: 25px;
        height: 10px; 
        margin: 20px;
        padding: 20px;
        
    }




    /* <!---------------------Collections of gears SECTION-------------------> */
      
    .product-collection{
        display: grid;
        margin-left: 3px;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    
}

    /* last sections  */
    .last-bonus{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;        
    }
    .last-bonus :nth-child(1) { order: 2; }
    .last-bonus :nth-child(2) { order: 1; }
        
    .h1-lb{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        
        color: #0A0826;
    }
    .last-bonus .l-img-details{
        width: 311px;
        height: 72px; 
        margin: 0px  10px 0 10px;
    }
    .l-img img{
    margin: 150px 0px 50px 50px;
    }
    .second{
        justify-content: center;
    }
    .footer{
        bottom: 0;
        left: 0px;
        right: 0px;
        width: 120%;
        height: 239px;
        background: #0A0826;
        text-align: center;
        margin: 0;
    }
    .footer-container{
        justify-content: center;
        margin: 0;
        
    
    } 
    .footer-heading{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        font-feature-settings: 'liga' off;
        color: #FFFFFF;
        text-align: center;
        margin-right: 60px;
    
    }
    .footerP{
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        font-feature-settings: 'liga' off;
        padding-left: 30px;
        color: #D9DBE1;
    
    }
    .a-footer-{
        font-size: 1.5em;
        text-align: center;
        justify-content: center;
        color: whitesmoke; 
    }

    .a-footer-:hover{
        font-size: 2.5em;
        overflow: hidden; 
    }




}



/* Tablet Devices */

@media only screen and (min-width:689px) and 
(max-width:992px){
    .main-section{
        width:100%;
    }
     .product-collection{
        display: grid;
        margin-left: 3px;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    
}


}
