@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin: 95px 120px 80px 120px;
}

.main-title{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}
.ul li,a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-right: 10px;
    font-weight: 600;
    padding: 3px;
    border-radius: 1px;
   

}
.ul{
    display: flex;
    margin-left: 20px;
       
}
a:hover{
    border-bottom: 2px solid black ;
}


 /* -----------------second-section------------- */
.frist-article{
    display: flex;
    justify-content: space-between;
    margin: 95px 120px 80px 120px;
    
}
.details-text{
    width: 100%;
}
.frist-button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    border: 0;
    background-color: #E02C6D;
    color: whitesmoke;
    padding: 10px, 24px, 10px, 24px;
    font-weight: 700;
    font-size: 16px;
}
h1{
    font-size: 52px;
    width: 700;
}

.bg-img-circl{
    width: 440px;
    margin: 0px 0px 00px 100px;
}
.main-img{
    width: 440px;
    position: absolute;
    right: 200px;
}

p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;

}


/*------------------ Logo Section -------------- */

.logos{
    display: flex;
    justify-content: space-evenly;
    margin: 100px  100px;
    padding: 30px 0 30px 0;
    border-bottom: 2px solid rgba(192, 204, 218, 0.3);
    border-top: 2px solid  rgba(192, 204, 218, 0.3);
}